<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fight!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="src/styles/main.css">
</head>
<body>
    <div class="wrap">
        <div class="fighter">
            <input type="text" id="fighter1-name" placeholder="fighter name">
            <input type="number" id="fighter1-health" placeholder="fighter health: 50">
            <input type="number" id="fighter1-power" placeholder="fighter power: 1">
        </div>
        <div class="fighter">
            <input type="text" id="fighter2-name" placeholder="improved fighter name">
            <input type="number" id="fighter2-health" placeholder="improved fighter health: 50">
            <input type="number" id="fighter2-power" placeholder="improved fighter power: 1">
        </div>
        <input type="text" id="damage" placeholder="damage: 10 5 8 24">
        <button id="start">Let's Fight!</button>
        <ul id="result"></ul>
    </div>
</body>
</html>
